<section>
  insert footer code here
</section>
{% schema %}
  {
    "name": "Static Footer",
    "tag": "section",
    "class": "section",
    "settings": [],
    "presets": [
      {
        "name": "Static Footer"
      }
    ]
  }
{% endschema %}