<section>
  insert header code here
</section>
{% schema %}
  {
    "name": "Static Header",
    "tag": "section",
    "class": "section",
    "settings": [],
    "presets": [
      {
        "name": "Static Header"
      }
    ]
  }
{% endschema %}