<section class="w-screen bg-[center_top_170px] h-[860px] relative bg-[url('https://cdn.shopify.com/s/files/1/0762/4880/9749/files/Mesh-Grad.jpg')] bg-no-repeat">
  <div class="container max-w-[1440px] flex flex-col items-center">
    <div class="mt-20 mb-5 h-[368px] w-[795px] flex flex-col justify-center items-center z-10">
      <h1 class="text-[72px] font-extrabold text-[#140626] text-center leading-tight">Create and sell cuztomized products</h1>
      <span class="text-[#5C5665] text-center text-[22px]">Lorem ipsum dolor sit amet consectetur adipiscing elit sed, eu<br/> phasellus cum volutpat vehicula cursus feugiat parturient tempor.
      </span>
      <div class="mt-auto">
        <button class="text-white rounded-xl bg-blue-500 h-[64px] w-[222px] outline-none">Start for Free</button>
        <button class="text-[#140626] rounded-xl border-2 border-[#140626] h-[64px] w-[222px]">How it Works</button>
      </div>
    </div>

    <div class="z-10 flex gap-16">
      <div class="w-[364px] h-[278.13px] rotate-[2.83deg] bg-white rounded-xl shadow-md">f</div>
      <div class="w-[596.35px] h-[456.35px] mt-32 rotate-[-2.95deg] bg-white rounded-xl shadow-md">f</div>
      <div class="w-[295.82px] h-[255px] rotate-[1.62deg] bg-white rounded-xl shadow-md">f</div>
      <img src="">
    </div>
  </div>
</section>

<section class="container max-w-[1440px] mt-[252px] px-[153px]">
  <h4 class="text-[#140626] text-center text-[18px] font-bold mb-[33px]">We help business all around the world to grow</h4>
  <div class="flex justify-between items-center">
    <img src="https://cdn.shopify.com/s/files/1/0762/4880/9749/files/chase.svg" />
    <img src="https://cdn.shopify.com/s/files/1/0762/4880/9749/files/asana.svg" />
    <img src="https://cdn.shopify.com/s/files/1/0762/4880/9749/files/google.svg" />
    <img src="https://cdn.shopify.com/s/files/1/0762/4880/9749/files/buzzfeed.svg" />
    <img src="https://cdn.shopify.com/s/files/1/0762/4880/9749/files/toggle.svg" />
    <img src="https://cdn.shopify.com/s/files/1/0762/4880/9749/files/walmart.svg" />
  </div>
</section>
<section class="container max-w-[1440px] h-[632px] px-[150px]">
  <h4 class="text-[#140626] text-[48px] font-extrabold">We make your<br/> brand shine</h4>
  <p>Mauris blandit nisi bibendum senectus fermentum<br/> tincidunt condimentum porttitor, egestas ullamcorper suscipit et lacus fringilla in nisl leo, iaculis proin.</p>
</section>


{% schema %}
  {
    "name": "Static Homepage",
    "tag": "section",
    "class": "section",
    "disabled_on": {
      "groups": ["header", "footer"]
    },
    "settings": [],
    "presets": [
      {
        "name": "Static Homepage"
      }
    ]
  }
{% endschema %}