<style>
  @import url("https://fonts.googleapis.com/css2?family=DM + Sans:ital, wght@0, 400;0, 500;0, 700;1, 400;1, 500;1, 700 &family=Plus + Jakarta + Sans:ital, wght@0, 200;0, 300;0, 400;0, 500;0, 600;0, 700;0, 800;1, 200;1, 300;1, 400;1, 500;1, 600;1, 700;1, 800&display=swap");

  #font-jakarta {
    font-family: "Plus Jakarta Sans" !important;
  }

  #font-dm-sans {
    font-family: "DM Sans" !important;
  }

  body {
    background-color: white !important;
  }
</style>

<section id="font-jakarta" class="relative">
  <div class="absolute h-full w-full overflow-hidden">
    <div
      class="absolute right-0 top-[500px] -z-50 h-[80vh] w-[70vw] rounded-t-full bg-[#D7D0FE] blur-[100px] filter"
    >
      &nbsp;
    </div>
    <div
      class="absolute top-[150px] -z-30 h-[80vh] w-[72vw] rounded-t-full bg-[#81E6FF] mix-blend-multiply blur-[100px] filter"
    >
      &nbsp;
    </div>
  </div>
  <div class="container relative max-w-[1440px] px-2 min-[1440px]:h-[860px] min-[1440px]:px-0">
    <img
      src="https://cdn.shopify.com/s/files/1/0762/4880/9749/files/Vector_2.svg?v=1684976912"
      class="absolute bottom-0 -z-20 scale-[1.20]"
    />
    <div class="flex h-full w-full flex-col items-center">
      <div
        class="mb-[10px] mt-[0px] flex h-[368px] w-[795px] flex-col items-center justify-center min-[767px]:mb-[20px] min-[767px]:mt-[80px]"
      >
        <div class="relative mb-[15px] min-[767px]:mb-[27px]">
          <h1
            class="text-center text-[30px] font-extrabold tracking-normal text-[#140626] min-[0px]:leading-normal min-[767px]:text-[72px] min-[767px]:leading-[82px]"
            id="font-jakarta"
          >
            Create and sell <br class="min-[0px]:block lg:hidden" />cuztomized products
          </h1>
          <img
            src="https://cdn.shopify.com/s/files/1/0762/4880/9749/files/Group_39866.svg?v=1684941707"
            class="absolute bottom-[-45px] right-[-150px]"
          />
        </div>
        <p
          class="mb-[25px] text-center text-[16px] text-[#5C5665] min-[767px]:text-[22px] min-[1440px]:mb-[49px]"
          id="font-dm-sans"
        >
          Lorem ipsum dolor sit amet consectetur adipiscing elit sed, eu<br />
          phasellus cum volutpat vehicula cursus feugiat parturient tempor.
        </p>
        <div class="flex gap-[20px] min-[1440px]:mt-auto">
          <button
            class="h-[50px] w-[150px] rounded-xl bg-gradient-to-br from-[#0289FF] to-[#0258FF] text-[16px] font-bold text-white outline-none min-[767px]:h-[64px] min-[767px]:w-[222px]"
            id="font-jakarta"
          >
            Start for Free
          </button>
          <button
            class="h-[50px] w-[150px] rounded-xl border-2 border-[#140626] text-[16px] font-bold text-[#140626] min-[767px]:h-[64px] min-[767px]:w-[222px]"
            id="font-jakarta"
          >
            How it Works
          </button>
        </div>
      </div>

      <div class="flex gap-16">
        <div class="relative h-[278.13px] w-[364px] rotate-[2.83deg] sm:hidden xl:block">
          <img
            src="https://cdn.shopify.com/s/files/1/0762/4880/9749/files/Group_3_1.png?v=1684942549"
            class="rotate-[-2.5deg] scale-125"
            alt=""
          />
          <img
            src="https://cdn.shopify.com/s/files/1/0762/4880/9749/files/Group.svg?v=1684941537"
            class="absolute left-[-30px] top-[-40px]"
          />
        </div>
        <div
          class="relative mt-[0px] h-[273px] w-[357px] rotate-[-2.95deg] rounded-xl bg-white px-[18px] py-[15px] shadow-2xl min-[767px]:mt-[40px] xl:h-[456.35px] xl:w-[596.35px]"
        >
          <img
            src="https://cdn.shopify.com/s/files/1/0762/4880/9749/files/Group_4.png?v=1684942105"
            alt=""
            class="rotate-[2.83deg] scale-105"
          />
          <img
            src="https://cdn.shopify.com/s/files/1/0762/4880/9749/files/elemnts.png?v=1684941371"
            class="absolute bottom-[-38px] right-[-28px]"
          />

          <div
            class="absolute left-[-70px] top-[-40px] -z-20 h-[127.5px] w-[147px] sm:block xl:hidden"
          >
            <img
              src="https://cdn.shopify.com/s/files/1/0762/4880/9749/files/Group_5.png?v=1684942919"
              class="scale-[1.3]"
              alt=""
            />
          </div>

          <div
            class="absolute bottom-[-80px] right-[-100px] h-[134px] w-[182px] rotate-[40deg] sm:block xl:hidden"
          >
            <img
              src="https://cdn.shopify.com/s/files/1/0762/4880/9749/files/Group_3_1.png?v=1684942549"
              class="rotate-[-2.5deg] scale-125"
              alt=""
            />
            <img
              src="https://cdn.shopify.com/s/files/1/0762/4880/9749/files/Group.svg?v=1684941537"
              class="absolute left-[-30px] top-[-40px]"
            />
          </div>
        </div>
        <div class="h-[255px] w-[295.82px] sm:hidden xl:block">
          <img
            src="https://cdn.shopify.com/s/files/1/0762/4880/9749/files/Group_5.png?v=1684942919"
            class="scale-[1.3]"
            alt=""
          />
        </div>
      </div>
    </div>
  </div>
</section>

<section
  class="container mb-[60px] mt-[90px] max-w-[1440px] px-10 min-[767px]:mb-[0px] min-[767px]:mt-[150px] min-[767px]:mt-[252px] min-[1440px]:px-[153px]"
>
  <h4
    class="mb-[33px] text-center text-[16px] font-bold leading-[30px] text-[#140626] min-[767px]:text-[18px]"
    id="font-jakarta"
  >
    We help business all around the world to grow
  </h4>
  <div class="grid grid-cols-6 place-items-center gap-x-[24px] gap-y-[42px] sm:gap-x-[86px]">
    <img
      src="https://cdn.shopify.com/s/files/1/0762/4880/9749/files/chase.svg"
      class="col-span-3 sm:col-span-2 xl:col-span-1"
    />
    <img
      src="https://cdn.shopify.com/s/files/1/0762/4880/9749/files/asana.svg"
      class="col-span-3 sm:col-span-2 xl:col-span-1"
    />
    <img
      src="https://cdn.shopify.com/s/files/1/0762/4880/9749/files/google.svg"
      class="col-span-3 sm:col-span-2 xl:col-span-1"
    />
    <img
      src="https://cdn.shopify.com/s/files/1/0762/4880/9749/files/buzzfeed.svg"
      class="col-span-3 sm:col-span-2 xl:col-span-1"
    />
    <img
      src="https://cdn.shopify.com/s/files/1/0762/4880/9749/files/toggle.svg"
      class="col-span-3 sm:col-span-2 xl:col-span-1"
    />
    <img
      src="https://cdn.shopify.com/s/files/1/0762/4880/9749/files/walmart.svg"
      class="col-span-3 sm:col-span-2 xl:col-span-1"
    />
  </div>
</section>

<section class="overflow-hidden">
  <div
    class="container relative flex max-w-[1440px] flex-col justify-end px-[50px] xl:px-[150px] min-[1440px]:h-[632px]"
  >
    <div
      class="absolute right-[-470px] top-[130px] -z-20 h-1/3 w-1/2 rounded-l-full bg-[#D0D8FE] blur-[100px] filter"
    >
      &nbsp;
    </div>

    <div class="mb-[30px] flex flex-col items-center justify-between lg:mb-[60px] lg:flex-row">
      <h4
        class="relative mb-10 text-[42px] font-extrabold text-[#140626] min-[0px]:text-center md:text-[48px] lg:mb-0 lg:text-left"
        id="font-jakarta"
      >
        We make your<br />
        brand shine
        <img
          src="https://cdn.shopify.com/s/files/1/0762/4880/9749/files/perks-arrow.svg"
          class="absolute left-[-135px] top-[50px] -z-20 h-[102.18px] w-[193.34px]"
        />
      </h4>

      <p
        class="leading-normaltext-center text-[18px] text-[#5C5665] lg:text-start"
        id="font-dm-sans"
      >
        Mauris blandit nisi bibendum senectus fermentum<br />
        tincidunt condimentum porttitor, egestas ullamcorper<br />
        suscipit et lacus fringilla in nisl leo, iaculis proin.
      </p>
    </div>

    <div class="grid grid-cols-6 place-items-center gap-[30px]">
      <div
        class="col-span-6 flex h-[334px] max-w-[360px] flex-col items-center rounded-2xl px-[35px] pb-[48px] pt-[40px] shadow-sm md:col-span-3 min-[1440px]:col-span-2"
      >
        <img
          src="https://cdn.shopify.com/s/files/1/0762/4880/9749/files/higher-profits-icon.svg"
          class="mb-[21px] h-[61px] w-[61px]"
        />
        <h3
          class="mb-[10px] whitespace-nowrap text-[32px] font-extrabold leading-[42px] text-[#140626]"
          id="font-jakarta"
        >
          Higher Profits
        </h3>
        <p
          class="text-center text-[18px] leading-[28px] tracking-normal text-[#5C5665]"
          id="font-dm-sans"
        >
          Vulputate ultrices maecenas tempus vehicula nostra dapibus per proin vitae et porttitor
          primis, sollicitudin faucibus scelerisque.
        </p>
      </div>
      <div
        class="col-span-6 flex h-[334px] max-w-[360px] flex-col items-center rounded-2xl px-[35px] pb-[48px] pt-[40px] shadow-sm md:col-span-3 min-[1440px]:col-span-2"
      >
        <img
          src="https://cdn.shopify.com/s/files/1/0762/4880/9749/files/robust-scaling-icon.svg"
          class="mb-[21px] h-[61px] w-[61px]"
        />
        <h3
          class="mb-[10px] whitespace-nowrap text-[32px] font-extrabold leading-[42px] text-[#140626]"
          id="font-jakarta"
        >
          Robust Scaling
        </h3>
        <p
          class="text-center text-[18px] leading-[28px] tracking-normal text-[#5C5665]"
          id="font-dm-sans"
        >
          Vulputate ultrices maecenas tempus vehicula nostra dapibus per proin vitae et porttitor
          primis, sollicitudin faucibus scelerisque.
        </p>
      </div>
      <div
        class="col-span-6 flex h-[334px] max-w-[360px] flex-col items-center rounded-2xl px-[35px] pb-[48px] pt-[40px] shadow-sm md:col-span-3 min-[1440px]:col-span-2"
      >
        <img
          src="https://cdn.shopify.com/s/files/1/0762/4880/9749/files/amazing-products-icon.svg"
          class="mb-[21px] h-[61px] w-[61px]"
        />
        <h3
          class="mb-[10px] whitespace-nowrap text-[32px] font-extrabold leading-[42px] text-[#140626]"
          id="font-jakarta"
        >
          Amazing Products
        </h3>
        <p
          class="text-center text-[18px] leading-[28px] tracking-normal text-[#5C5665]"
          id="font-dm-sans"
        >
          Vulputate ultrices maecenas tempus vehicula nostra dapibus, per proin vitae et porttitor
          primis sollicitudin faucibus scelerisque.
        </p>
      </div>
    </div>
  </div>
</section>

<section
  class="container mt-[60px] max-w-[1440px] px-[10px] min-[1440px]:px-[150px] min-[1440px]:py-[45px]"
>
  <div
    class="relative flex flex-col items-center justify-center gap-[72px] rounded-2xl px-[16px] py-12 min-[767px]:px-[40px] min-[1440px]:h-[591px] min-[1440px]:flex-row min-[1440px]:pl-[60px] min-[1440px]:pr-[90px]"
  >
    <div class="absolute left-0 top-0 -z-30 h-full w-full rounded-2xl bg-[#ECE3FF]">&nbsp;</div>
    <img
      src="https://cdn.shopify.com/s/files/1/0762/4880/9749/files/easily_vector.svg?v=1684939763"
      alt=""
      class="absolute bottom-0 left-[0px] -z-20"
    />
    <img
      src="https://cdn.shopify.com/s/files/1/0762/4880/9749/files/easily_green.svg?v=1684940596"
      class="absolute bottom-[-48px] right-[-55px] -z-50"
    />
    <img
      src="https://cdn.shopify.com/s/files/1/0762/4880/9749/files/easily_pink.svg?v=1684940588"
      class="absolute left-[-25px] top-[-35px]"
    />
    <div
      class="relative h-[240.5px] w-[300px] rounded-2xl bg-white px-[23px] py-[14px] shadow-md md:h-[382px] md:w-[500px]"
    >
      <div
        class="absolute right-[-100px] top-[-40px] grid grid-cols-3 gap-[10px] rounded-2xl bg-white p-[15px] shadow-md min-[1440px]:left-[142px] min-[1440px]:top-[-158px] min-[1440px]:h-[110px] min-[1440px]:w-[202px]"
      >
        <div class="flex items-center justify-center rounded-md border-2">
          <img
            src="https://cdn.shopify.com/s/files/1/0762/4880/9749/files/visa.svg"
            class="scale-[.85]"
          />
        </div>
        <div class="flex items-center justify-center rounded-md border-2">
          <img
            src="https://cdn.shopify.com/s/files/1/0762/4880/9749/files/gpay.svg"
            class="scale-[.85]"
          />
        </div>
        <div class="flex items-center justify-center rounded-md border-2">
          <img
            src="https://cdn.shopify.com/s/files/1/0762/4880/9749/files/mastercard.svg"
            class="scale-[.85]"
          />
        </div>
        <div class="flex items-center justify-center rounded-md border-2">
          <img
            src="https://cdn.shopify.com/s/files/1/0762/4880/9749/files/applepay.svg"
            class="scale-[.85]"
          />
        </div>
        <div class="flex items-center justify-center rounded-md border-2">
          <img
            src="https://cdn.shopify.com/s/files/1/0762/4880/9749/files/stripe.svg "
            class="scale-[.85]"
          />
        </div>
        <div class="flex items-center justify-center rounded-md border-2">
          <img
            src="https://cdn.shopify.com/s/files/1/0762/4880/9749/files/paypal.svg"
            class="scale-[.85]"
          />
        </div>
      </div>
      <div
        class="absolute bottom-[-30px] left-[-100px] h-[167px] w-[230px] rounded-2xl shadow-md min-[1440px]:bottom-[-90px] min-[1440px]:left-[-150px]"
      >
        <img
          src="https://cdn.shopify.com/s/files/1/0762/4880/9749/files/Group_1000001619.png?v=1684985870"
          class="min-[1440px]:scale-x-[1.32] min-[1440px]:scale-y-[1.37]"
          alt=""
        />
      </div>

      <div class="mb-[12px] flex justify-between md:mb-[24px] md:items-center">
        <div class="flex gap-[7px] md:mr-[90px]">
          <div class="h-[7px] w-[7px] rounded-full bg-[#FE5F58]">&nbsp;</div>
          <div class="h-[7px] w-[7px] rounded-full bg-[#FEBC2E]">&nbsp;</div>
          <div class="h-[7px] w-[7px] rounded-full bg-[#28C840]">&nbsp;</div>
        </div>

        <div class="h-[10px] w-[221px] rounded-full bg-[#F0F0F0] md:mr-[70px]">&nbsp;</div>

        <div class="h-[10px] w-[47px] rounded-full bg-[#F0F0F0]">&nbsp;</div>
      </div>

      <div class="grid grid-cols-12 grid-rows-2 gap-4 md:gap-0">
        <img
          src="https://cdn.shopify.com/s/files/1/0762/4880/9749/files/Rectangle_9.png?v=1684987501"
          class="col-span-7 row-span-2"
        />
        <img
          src="https://cdn.shopify.com/s/files/1/0762/4880/9749/files/Rectangle_24.png?v=1684987501"
          class="col-span-5 row-span-1 md:h-[147px] md:w-[198px]"
        />
        <img
          src="https://cdn.shopify.com/s/files/1/0762/4880/9749/files/Rectangle_25.png?v=16849875021"
          class="col-span-5 row-span-1 mt-auto md:h-[147px] md:w-[198px]"
        />
      </div>
    </div>
    <div class="w-full">
      <h2
        class="mb-[20px] text-[26px] font-extrabold tracking-normal text-[#140626] md:text-[48px] min-[1440px]:whitespace-nowrap"
        id="font-jakarta"
      >
        Easily add your design to a <br class="sm:hidden md:block min-[1440px]:hidden" />
        wide<br class="sm:hidden min-[1440px]:block" />
        range of products
      </h2>
      <div
        class="flex flex-col items-center justify-start gap-[24px] md:flex-row md:gap-20 min-[1440px]:flex-col min-[1440px]:items-start min-[1440px]:justify-normal min-[1440px]:gap-[46px]"
      >
        <p class="leading-normaltracking-tight text-[#5C5665]" id="font-dm-sans">
          Odio dui dictumst tortor ridiculus a condimentum<br
            class="sm:hidden min-[1440px]:block"
          />
          auctor sed, varius etiam nostra molestie interdum<br
            class="sm:hidden min-[1440px]:block"
          />
          arcu neque, enim tellus ullamcorper at lacus.
        </p>
        <div class="flex w-full">
          <button
            class="outline-none] ml-auto h-[50px] w-[150px] rounded-xl bg-gradient-to-br from-[#0289FF] to-[#0258FF] text-[16px] font-bold text-white min-[767px]:h-[64px] min-[767px]:w-[222px] md:mr-auto"
            id="font-jakarta"
          >
            Connect It Now
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div
    class="container relative flex max-w-[1440px] flex-col justify-center px-[10px] pb-[60px] pt-[66px] min-[767px]:pb-[125px] min-[1440px]:px-[150px]"
  >
    <div
      class="absolute bottom-0 left-[-180px] -z-20 h-3/5 w-1/3 rounded-t-full bg-[#C5D6FE] blur-[100px] filter"
    >
      &nbsp;
    </div>

    <h2
      class="mb-[12px] text-center text-[26px] font-extrabold leading-[58px] text-[#140626] min-[767px]:text-[48px] md:mb-[20px]"
      id="font-jakarta"
    >
      How It Works
    </h2>
    <p class="mb-[32px] text-center leading-normal text-[#5C5665] md:mb-[60px]" id="font-dm-sans">
      Mauris blandit nisi bibendum senectus fermentum tincidunt condimentum<br
        class="sm:hidden md:block"
      />
      porttitor, egestas ullamcorper suscipit et lacus fringilla in nisl leo, iaculis proin.
    </p>

    <div class="grid grid-cols-6 place-items-center gap-[30px]">
      <div
        class="col-span-6 max-w-[360px] overflow-hidden rounded-2xl rounded-t-3xl bg-white shadow-sm md:col-span-3 xl:col-span-2"
      >
        <div class="relative">
          <img
            src="https://cdn.shopify.com/s/files/1/0762/4880/9749/files/upload-your-design.jpg?v=1684936403"
            alt=""
          />
          <div
            class="absolute bottom-[-45px] left-1/2 flex h-[45px] w-[45px] -translate-x-1/2 -translate-y-1/2 transform items-center justify-center rounded-full border-2 border-gray-300 bg-gradient-to-br from-[#BF5FFF] to-[#5206FF] text-[20px] font-extrabold text-[#E2DEEB]"
          >
            1
          </div>
        </div>

        <div
          class="px-[12px] pb-[12px] pt-[32px] shadow-md min-[767px]:px-[32px] min-[767px]:pb-[31px] min-[767px]:pt-[48px]"
        >
          <h3
            class="mb-[7px] whitespace-nowrap text-center text-[20px] font-extrabold min-[767px]:mb-[20px] min-[767px]:text-[32px]"
            id="font-jakarta"
          >
            Upload Your<br />
            Design
          </h3>
          <p class="leading-normaltext-center tracking-normal text-[#54545E]" id="font-dm-sans">
            Vulputate ultrices maecenas tempus vehicula nostra dapibus per proin vitae et porttitor
            primis, sollicitudin faucibus scelerisque.
          </p>
        </div>
      </div>
      <div
        class="col-span-6 max-w-[360px] overflow-hidden rounded-2xl rounded-t-3xl bg-white shadow-sm md:col-span-3 xl:col-span-2"
      >
        <div class="relative">
          <img
            src="https://cdn.shopify.com/s/files/1/0762/4880/9749/files/we-put-it-on-beautiful-mockups.jpg?v=1684936403"
            alt=""
          />

          <div
            class="absolute bottom-[-45px] left-1/2 flex h-[45px] w-[45px] -translate-x-1/2 -translate-y-1/2 transform items-center justify-center rounded-full border-2 border-gray-300 bg-gradient-to-br from-[#0289FF] to-[#0258FF] text-[20px] font-extrabold text-[#E2DEEB]"
          >
            2
          </div>
        </div>

        <div
          class="px-[12px] pb-[12px] pt-[32px] shadow-md min-[767px]:px-[32px] min-[767px]:pb-[31px] min-[767px]:pt-[48px]"
        >
          <h3
            class="mb-[7px] whitespace-nowrap text-center text-[20px] font-extrabold min-[767px]:mb-[20px] min-[767px]:text-[32px]"
            id="font-jakarta"
          >
            We Put it on<br />
            Beautiful Mockups
          </h3>
          <p class="leading-normaltext-center tracking-normal text-[#54545E]" id="font-dm-sans">
            Vulputate ultrices maecenas tempus vehicula nostra dapibus per proin vitae et porttitor
            primis, sollicitudin faucibus scelerisque.
          </p>
        </div>
      </div>

      <div
        class="col-span-6 max-w-[360px] overflow-hidden rounded-2xl rounded-t-3xl bg-white shadow-sm xl:col-span-2"
      >
        <div class="relative">
          <img
            src="https://cdn.shopify.com/s/files/1/0762/4880/9749/files/list-the-products.jpg?v=1684936403"
            alt=""
          />

          <div
            class="absolute bottom-[-45px] left-1/2 flex h-[45px] w-[45px] -translate-x-1/2 -translate-y-1/2 transform items-center justify-center rounded-full border-2 border-gray-300 bg-gradient-to-br from-[#8B96FF] to-[#4353FF] text-[20px] font-extrabold text-[#E2DEEB]"
          >
            3
          </div>
        </div>

        <div
          class="px-[12px] pb-[12px] pt-[32px] shadow-md min-[767px]:px-[32px] min-[767px]:pb-[31px] min-[767px]:pt-[48px]"
        >
          <h3
            class="mb-[7px] whitespace-nowrap text-center text-[20px] font-extrabold min-[767px]:mb-[20px] min-[767px]:text-[32px]"
            id="font-jakarta"
          >
            List the Products<br />
            on Your Platform
          </h3>
          <p class="leading-normaltext-center tracking-normal text-[#54545E]" id="font-dm-sans">
            Vulputate ultrices maecenas tempus vehicula nostra dapibus per proin vitae et porttitor
            primis, sollicitudin faucibus scelerisque.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="overflow-hidden bg-[#140626]">
  <div
    class="container relative flex max-w-[1440px] flex-col items-center justify-center gap-[32px] p-[10px] py-[40px] min-[767px]:gap-[45px] xl:gap-[60px] xl:px-[150px] xl:pb-[127px] xl:pt-[120px]"
  >
    <div
      class="absolute bottom-0 right-[-200px] h-1/2 w-1/2 rounded-t-full bg-[#3E3C70] blur-[100px] filter"
    >
      &nbsp;
    </div>
    <img
      src="https://cdn.shopify.com/s/files/1/0762/4880/9749/files/Integrate_Vector.svg?v=1684931776"
      class="absolute bottom-0 right-[50px]"
    />
    <h2
      class="relative text-center font-bold text-[#ECECFA] sm:text-[26px] min-[767px]:text-[48px] min-[767px]:leading-[58px]"
      id="font-jakarta"
    >
      Integrate Your<br />
      E-commerce Platforms
      <img
        src="https://cdn.shopify.com/s/files/1/0762/4880/9749/files/Integrate_arrow.svg?v=1684932206"
        class="absolute right-[-270px] top-[-100px] xl:right-[-375px]"
      />
    </h2>

    <div class="flex flex-col-reverse gap-[0px] xl:flex-row xl:gap-[66px]">
      <div>
        <div
          class="mb-[20px] flex max-w-6xl justify-between gap-x-[20px] xl:mb-[53px] xl:w-full xl:flex-col"
        >
          <div
            class="mb-[6px] flex h-[80px] max-h-[80px] w-[80px] max-w-[80px] items-center justify-center rounded-full min-[767px]:mb-[30px] xl:bg-white/5"
          >
            <img
              src="https://cdn.shopify.com/s/files/1/0762/4880/9749/files/Integrate_chain.svg?v=1684932877"
              alt=""
              class="scale-90 min-[767px]:scale-100"
            />
          </div>
          <div>
            <h3
              class="mb-[17px] text-[20px] font-extrabold leading-[42px] text-[#ECECFA] min-[767px]:text-[32px]"
              id="font-jakarta"
            >
              Connect Your Store
            </h3>
            <p
              class="text-[16px] font-normal text-[#E9E6EF] min-[767px]:text-[18px]"
              id="font-dm-sans"
            >
              Odio dui dictumst tortor ridiculus a condimentum auctor sed, varius etiam nostra
              molestie interdum arcu neque, enim tellus ullamcorper at lacus.
            </p>
          </div>
        </div>
        <div class="flex">
          <button
            class="ml-auto h-[64px] w-[190px] rounded-xl bg-gradient-to-br from-[#0289FF] to-[#0258FF] text-[16px] font-bold text-white outline-none md:w-[222px] xl:mr-auto"
            id="font-jakarta"
          >
            Connect It Now
          </button>
        </div>
      </div>
      <img
        src="https://cdn.shopify.com/s/files/1/0762/4880/9749/files/Group_1000001633.svg?v=1684933450"
        class="max-h-[433px] max-w-[740.74] scale-110"
      />
    </div>
  </div>
</section>

<section class="">
  <div
    class="container relative mt-[60px] flex max-w-[1140px] flex-col items-center px-5 min-[1440px]:px-0"
  >
    <div
      class="absolute left-[45%] top-[60%] -z-20 h-1/2 w-[60%] -translate-x-1/2 -translate-y-1/2 transform rounded-t-full bg-gradient-to-br from-[#CFEAFE] to-[#C9D2FE] blur-[100px] filter"
    >
      &nbsp;
    </div>
    <h2
      class="mb-3 text-center text-[26px] font-extrabold text-[#140626] min-[767px]:text-[48px] lg:mb-[20px]"
      id="font-jakarta"
    >
      Trusted By Customers in the World
    </h2>
    <p
      class="mb-10 text-center text-[16px] text-[#5C5665] min-[767px]:text-[18px] lg:mb-[62px]"
      id="font-dm-sans"
    >
      Mauris blandit nisi bibendum senectus fermentum tincidunt condimentum.
    </p>
    <div class="mb-16 flex justify-between gap-[16px] lg:mb-[90px] lg:gap-[80px]" id="font-jakarta">
      <div>
        <p
          class="mb-[10px] whitespace-nowrap bg-gradient-to-b from-[#8B96FF] to-[#4555FF] bg-clip-text text-center text-[30px] font-extrabold text-transparent min-[767px]:text-[48px]"
        >
          964 K
        </p>
        <p
          class="leading-normalmin-[767px]:[24px] text-center text-[18px] font-extrabold text-[#140626]"
        >
          Orders Fulfilled
        </p>
      </div>
      <div class="border-x-[1px] border-[#1406264D] border-opacity-30 px-[30px] lg:px-[60px]">
        <p
          class="mb-[10px] bg-gradient-to-b from-[#8B96FF] to-[#4555FF] bg-clip-text text-center text-[30px] font-extrabold text-transparent min-[767px]:text-[48px]"
        >
          4,965
        </p>
        <p
          class="leading-normalmin-[767px]:text-[24px] text-center text-[18px] font-extrabold text-[#140626]"
        >
          Clients Served
        </p>
      </div>
      <div>
        <p
          class="mb-[10px] bg-gradient-to-b from-[#8B96FF] to-[#4555FF] bg-clip-text text-center text-[30px] font-extrabold text-transparent min-[767px]:text-[48px]"
        >
          6,235
        </p>
        <p
          class="leading-normalmin-[767px]:text-[24px] text-center text-[18px] font-extrabold text-[#140626]"
        >
          Store Authorized
        </p>
      </div>
    </div>

    <div class="mb-[50px] grid w-full grid-cols-6 gap-[30px]">
      <div
        class="col-span-6 rounded-2xl bg-gradient-to-br from-[#E9DFFF] to-[#D2BEFF] p-[15px] lg:col-span-2"
      >
        <div class="rounded-2xl bg-white p-[25px]">
          <img
            src="https://cdn.shopify.com/s/files/1/0762/4880/9749/files/testimonial-quote.svg?v=1684928429"
            class="mb-[16px]"
          />
          <p
            class="mb-[32px] text-[16px] tracking-normal text-[#5C5665] min-[767px]:text-[18px]"
            id="font-dm-sans"
          >
            Tincidunt nisl pellentesque augue integer tempor odio quis susse, per sociis himenaeos
            consequat id porttitor ultrices viverra nibh nostra semper felis facilisi habint semper
            purus tristique felis port vestibulum turpis netus egestas.
          </p>

          <div class="flex items-center gap-[19px]">
            <img
              src="https://cdn.shopify.com/s/files/1/0762/4880/9749/files/joel-sporer.png?v=1684928429"
            />
            <div>
              <h5 class="font-extrabold text-[#140626]" id="font-jakarta">Joel Sporer</h5>
              <p class="leading-normaltext-[16px] text-[#6C6575]" id="font-dm-sans">
                Owner of ABC Store
              </p>
            </div>
          </div>
        </div>
      </div>

      <div
        class="col-span-6 rounded-2xl bg-gradient-to-br from-[#79B9FF] to-[#ABD3FF] p-[15px] sm:hidden lg:col-span-2 lg:block"
      >
        <div class="rounded-2xl bg-white p-[25px]">
          <img
            src="https://cdn.shopify.com/s/files/1/0762/4880/9749/files/testimonial-quote.svg?v=1684928429"
            class="mb-[16px]"
          />
          <p
            class="mb-[32px] text-[16px] leading-normal tracking-normal text-[#5C5665] min-[767px]:text-[18px]"
            id="font-dm-sans"
          >
            Tincidunt nisl pellentesque augue integer tempor odio quis susse, per sociis himenaeos
            consequat id porttitor ultrices viverra nibh nostra semper felis facilisi habint semper
            purus tristique felis port vestibulum turpis netus egestas.
          </p>

          <div class="flex items-center gap-[19px]">
            <img
              src="https://cdn.shopify.com/s/files/1/0762/4880/9749/files/elsa-sanford.png?v=1684928429"
            />
            <div>
              <h5 class="font-extrabold text-[#140626]" id="font-jakarta">Elsa Sanford</h5>
              <p class="leading-normaltext-[16px] text-[#6C6575]" id="font-dm-sans">
                Owner of ABC Store
              </p>
            </div>
          </div>
        </div>
      </div>

      <div
        class="col-span-6 rounded-2xl bg-gradient-to-br from-[#9FA8FF] to-[#C2C8FF] p-[15px] sm:hidden lg:col-span-2 lg:block"
      >
        <div class="rounded-2xl bg-white p-[25px]">
          <img
            src="https://cdn.shopify.com/s/files/1/0762/4880/9749/files/testimonial-quote.svg?v=1684928429"
            class="mb-[16px]"
          />
          <p
            class="mb-[32px] text-[16px] tracking-normal text-[#5C5665] min-[767px]:text-[18px]"
            id="font-dm-sans"
          >
            Tincidunt nisl pellentesque augue integer tempor odio quis susse, per sociis himenaeos
            consequat id porttitor ultrices viverra nibh nostra semper felis facilisi habint semper
            purus tristique felis port vestibulum turpis netus egestas.
          </p>

          <div class="flex items-center gap-[19px]">
            <img
              src="https://cdn.shopify.com/s/files/1/0762/4880/9749/files/lois-fell.png?v=1684928428"
            />
            <div>
              <h5 class="font-extrabold text-[#140626]" id="font-jakarta">Lols Fell</h5>
              <p class="leading-normaltext-[16px] text-[#6C6575]" id="font-dm-sans">
                Owner of ABC Store
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="flex gap-[10px]">
      <div class="h-[4px] min-w-[50px] cursor-pointer bg-[#140626]">&nbsp;</div>
      <div class="h-[4px] min-w-[50px] cursor-pointer bg-[#E0DBE6]">&nbsp;</div>
      <div class="h-[4px] min-w-[50px] cursor-pointer bg-[#E0DBE6]">&nbsp;</div>
    </div>
  </div>
</section>

<section
  class="container relative my-[60px] max-w-[1440px] px-2 lg:my-[130px] xl:h-[647.81px] xl:px-[150px]"
>
  <div
    class="relative grid h-full w-full grid-cols-1 place-items-center gap-[20px] px-[20px] py-12 lg:pl-[90px] lg:pr-[75px] xl:grid-cols-2 xl:gap-[108px] xl:py-0"
  >
    <div class="absolute left-0 top-0 -z-30 h-full w-full rounded-3xl bg-[#D9EBFF] text-[#D9EBFF]">
      &nbsp;
    </div>
    <img
      src="https://cdn.shopify.com/s/files/1/0762/4880/9749/files/Price_Green.svg?v=1684918692"
      class="absolute left-[-75px] top-[-68px] -z-40"
    />
    <img
      src="https://cdn.shopify.com/s/files/1/0762/4880/9749/files/Price_Pink.svg?v=1684918693"
      class="absolute bottom-[-20px] right-[-10px]"
    />
    <img
      src="https://cdn.shopify.com/s/files/1/0762/4880/9749/files/pricing-vector.svg?v=1684912700"
      class="absolute bottom-0 left-0 -z-20 xl:top-0 min-[1440px]:left-[200px]"
    />
    <div class="">
      <h2
        class="mb-[30px] text-[26px] font-extrabold tracking-[-.02em] text-[#140626] min-[767px]:text-[48px] xl:mb-[50px] xl:max-w-[408px]"
        id="font-jakarta"
      >
        Emorve helps merchants make more money with less effort
      </h2>
      <div>
        <button
          class="mb-[25px] h-[40px] w-[245px] rounded-xl bg-blue-500 text-[14px] font-bold text-white outline-none min-[767px]:h-[64px] min-[767px]:text-[18px]"
          id="font-jakarta"
        >
          Get Started Now
        </button>

        <div class="flex gap-[21px]">
          <img src="https://cdn.shopify.com/s/files/1/0762/4880/9749/files/visa.svg" />
          <img src="https://cdn.shopify.com/s/files/1/0762/4880/9749/files/gpay.svg" />
          <img src="https://cdn.shopify.com/s/files/1/0762/4880/9749/files/mastercard.svg" />
          <img src="https://cdn.shopify.com/s/files/1/0762/4880/9749/files/applepay.svg" />
          <img src="https://cdn.shopify.com/s/files/1/0762/4880/9749/files/stripe.svg " />
          <img src="https://cdn.shopify.com/s/files/1/0762/4880/9749/files/paypal.svg" />
        </div>
      </div>
    </div>
    <div class="">
      <p
        class="mb-[30px] text-[16px] font-bold leading-[32px] text-[#5C5665] min-[767px]:text-[22px]"
        id="font-dm-sans"
      >
        There would be a
        <span
          class="bg-gradient-to-b from-[#8B96FF] to-[#4555FF] bg-clip-text text-[30px] font-extrabold text-transparent min-[767px]:text-[48px]"
          id="font-jakarta"
          >$99</span
        >
        per month<br />
        subscription, which will get them:
      </p>

      <ul
        class="flex flex-col gap-[15px] font-medium leading-[30px] tracking-tight text-[#5C5665]"
        id="font-dm-sans"
      >
        <li>
          <div class="flex gap-[10px]">
            <img
              src="https://cdn.shopify.com/s/files/1/0762/4880/9749/files/check.svg?v=1684926391"
              class="h-[25px] w-[25px]"
            />
            <p class="text-[16px] leading-normal min-[767px]:text-[18px]">350 credits per month</p>
          </div>
        </li>
        <li>
          <div class="flex gap-[10px]">
            <img
              src="https://cdn.shopify.com/s/files/1/0762/4880/9749/files/check.svg?v=1684926391"
              class="h-[25px] w-[25px]"
            />
            <p class="text-[16px] leading-normal min-[767px]:text-[18px]">
              Credits can be used to create a print on demand product and get it listed on their
              ecommerce store of choice (1 credit for 1 listing)
            </p>
          </div>
        </li>
        <li>
          <div class="flex gap-[10px]">
            <img
              src="https://cdn.shopify.com/s/files/1/0762/4880/9749/files/check.svg?v=1684926391"
              class="h-[25px] w-[25px]"
            />
            <p class="text[16px] leading-normal min-[767px]:text-[18px]">
              Once an order is received, we will print and ship the product directly to the customer
              with their branding
            </p>
          </div>
        </li>
        <li>
          <div class="flex gap-[10px]">
            <img
              src="https://cdn.shopify.com/s/files/1/0762/4880/9749/files/check.svg?v=1684926391"
              class="h-[25px] w-[25px]"
            />
            <p class="text-[16px] leading-normal min-[767px]:text-[18px]">
              Credits can be used to get title and tags re-written for the product with least
              views/sales (1 credit for 1 rewriting)
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>

<section
  class="mb-[60px] bg-[#140626] min-[767px]:mb-[0px] min-[767px]:h-[500px]"
  id="font-jakarta"
>
  <div class="container relative h-full max-w-[1440px] overflow-hidden px-0">
    <img
      src="https://cdn.shopify.com/s/files/1/0762/4880/9749/files/cta-blury-blob.svg?v=1684893057"
      class="absolute top-0"
    />
    <img
      src="https://cdn.shopify.com/s/files/1/0762/4880/9749/files/cta-vector.svg?v=1684893056"
      class="absolute top-[-265px] h-[1211px] w-[1869px]"
    />
    <div class="flex h-full flex-col items-center justify-center py-20 min-[767px]:py-0">
      <div class="relative">
        <img
          src="https://cdn.shopify.com/s/files/1/0762/4880/9749/files/cta-arrow.svg?v=1684893056"
          class="absolute left-[-195px] top-[-10px] h-[214px] w-[218px]"
        />
        <h2
          class="text-center text-[26px] font-extrabold leading-normal text-[#ECECFA] min-[767px]:text-[42px] min-[767px]:leading-[58px] md:text-[48px]"
        >
          Start making more sales on <br />
          your store now!
        </h2>
      </div>

      <div
        class="relative mt-[30px] flex flex-col gap-[7px] min-[767px]:mt-[60px] min-[767px]:flex-row min-[767px]:gap-[20px]"
      >
        <img
          src="https://cdn.shopify.com/s/files/1/0762/4880/9749/files/cta-decoration.svg?v=1684893056"
          class="absolute right-[-60px] top-[-30px]"
        />
        <button
          class="h-[40px] w-[150px] rounded-xl bg-gradient-to-br from-[#0289FF] to-[#0258FF] text-[14px] font-bold text-white outline-none min-[767px]:h-[64px] min-[767px]:w-[222px]"
        >
          Start for Free
        </button>
        <button
          class="h-[40px] w-[150px] rounded-xl border-2 border-white text-[14px] font-bold text-white min-[767px]:h-[64px] min-[767px]:w-[222px]"
        >
          Contact Us
        </button>
      </div>
    </div>
  </div>
</section>

{% schema %} { "name": "Static Homepage", "tag": "section", "class": "section", "disabled_on": {
"groups": ["header", "footer"] }, "settings": [], "presets": [ { "name": "Static Homepage" } ] }
{%endschema %}
