<style>
  @import url('https://fonts.googleapis.com/css2?family=DM + Sans:ital, wght@0, 400;0, 500;0, 700;1, 400;1, 500;1, 700 &family=Plus + Jakarta + Sans:ital, wght@0, 200;0, 300;0, 400;0, 500;0, 600;0, 700;0, 800;1, 200;1, 300;1, 400;1, 500;1, 600;1, 700;1, 800&display=swap');

  #font-jakarta {
    font-family: "Plus Jakarta Sans" !important;
  }

  #font-dm-sans {
    font-family: "DM Sans" !important;
  }
</style>

<section id="font-jakarta" class="relative overflow-hidden font-jakarta">

  <div class="bg-[#D7D0FE] h-[80vh] w-[70vw] rounded-t-full absolute top-[500px] right-0 filter blur-[100px] -z-20">&nbsp;</div>
  <div class="bg-[#81E6FF] h-[80vh] w-[72vw] rounded-t-full absolute top-[150px] filter blur-[100px] mix-blend-multiply -z-30">&nbsp;</div>
  <div class="container px-0 max-w-[1440px] h-[860px] relative">
    <img src="https://cdn.shopify.com/s/files/1/0762/4880/9749/files/Vector_2.svg?v=1684976912" class="-z-20 absolute bottom-0 scale-[1.20]" />
    <div class="h-full w-full flex flex-col items-center">
      <div class="mt-20 mb-5 h-[368px] w-[795px] flex flex-col justify-center items-center z-10">
        <div class="relative mb-[27px]">
          <h1 class="text-[72px] font-extrabold text-[#140626] text-center tracking-normal leading-[82px]" id="font-jakarta">Create and sell cuztomized products</h1>
          <img src="https://cdn.shopify.com/s/files/1/0762/4880/9749/files/Group_39866.svg?v=1684941707" class="absolute bottom-[-45px] right-[-150px]">
        </div>
        <span class="text-[#5C5665] text-center text-[22px] mb-[49px]" id='font-dm-sans'>Lorem ipsum dolor sit amet consectetur adipiscing elit sed, eu<br/> phasellus cum volutpat vehicula cursus feugiat parturient tempor.
        </span>
        <div class="mt-auto flex gap-[20px]">
          <button class="font-bold text-white rounded-xl bg-gradient-to-br from-[#0289FF] to-[#0258FF] h-[64px] w-[222px] outline-none" id="font-jakarta">Start for Free</button>
          <button class="font-bold text-[#140626] rounded-xl border-2 border-[#140626] h-[64px] w-[222px]" id="font-jakarta">How it Works</button>
        </div>
      </div>

      <div class="z-10 flex gap-16">
        <div class="relative w-[364px] h-[278.13px] rotate-[2.83deg]">
          <img
            src="https://cdn.shopify.com/s/files/1/0762/4880/9749/files/Group_3_1.png?v=1684942549"
            class="scale-125 rotate-[-2.5deg]"
            alt="">
          <img src="https://cdn.shopify.com/s/files/1/0762/4880/9749/files/Group.svg?v=1684941537" class="absolute top-[-40px] left-[-30px]">
        </div>
        <div class="w-[596.35px] h-[456.35px] mt-32 rotate-[-2.95deg] bg-white rounded-xl shadow-2xl relative px-[18px] py-[15px]">
          <img
            src="https://cdn.shopify.com/s/files/1/0762/4880/9749/files/Group_4.png?v=1684942105"
            alt=""
            class="rotate-[2.83deg] scale-105">
          <img src="https://cdn.shopify.com/s/files/1/0762/4880/9749/files/elemnts.png?v=1684941371" class="absolute bottom-[-38px] right-[-28px]">
        </div>
        <div class="w-[295.82px] h-[255px]">
          <img
            src="https://cdn.shopify.com/s/files/1/0762/4880/9749/files/Group_5.png?v=1684942919"
            class="scale-[1.3]"
            alt="">
        </div>
      </div>
    </div>
  </div>
</section>

<section class="container max-w-[1440px] mt-[252px] px-[153px]">
  <h4 class="font-bold text-[18px] text-[#140626] text-center mb-[33px] leading-[30px]" id="font-jakarta">We help business all around the world to grow</h4>
  <div class="flex justify-between items-center">
    <img src="https://cdn.shopify.com/s/files/1/0762/4880/9749/files/chase.svg" />
    <img src="https://cdn.shopify.com/s/files/1/0762/4880/9749/files/asana.svg" />
    <img src="https://cdn.shopify.com/s/files/1/0762/4880/9749/files/google.svg" />
    <img src="https://cdn.shopify.com/s/files/1/0762/4880/9749/files/buzzfeed.svg" />
    <img src="https://cdn.shopify.com/s/files/1/0762/4880/9749/files/toggle.svg" />
    <img src="https://cdn.shopify.com/s/files/1/0762/4880/9749/files/walmart.svg" />
  </div>
</section>

<section class="relative">
  <div class="container max-w-[1440px] h-[632px] px-[150px] flex flex-col justify-end relative">
    <div class="absolute bg-[#D0D8FE] w-1/2 h-1/3 top-1/2 left-1/2 right-0 rounded-l-full filter blur-[100px] -z-20">&nbsp;</div>

    <div class="flex justify-between items-center mb-[60px]">
      <div>
        <h4 class="font-extrabold text-[#140626] text-[48px]" id="font-jakarta">We make your<br/> brand shine</h4>
        <img src="https://cdn.shopify.com/s/files/1/0762/4880/9749/files/perks-arrow.svg" class="absolute top-[175px] left-[10px] w-[193.34px] h-[102.18px]" />
      </div>
      <p class="text-[18px] text-[#5C5665]" id="font-dm-sans">Mauris blandit nisi bibendum senectus fermentum<br/> tincidunt condimentum porttitor, egestas ullamcorper<br/> suscipit et lacus fringilla in nisl leo, iaculis proin.</p>
    </div>

    <div class="flex gap-[30px]">
      <div class="h-[334px] px-[35px] pb-[48px] pt-[40px] rounded-2xl flex flex-col items-center shadow-sm">
        <img src="https://cdn.shopify.com/s/files/1/0762/4880/9749/files/higher-profits-icon.svg" class="h-[61px] w-[61px] mb-[21px]" />
        <h3 class="font-extrabold text-[32px] text-[#140626] mb-[10px] whitespace-nowrap leading-[42px]" id="font-jakarta">Higher Profits</h3>
        <p class="text-[18px] text-center text-[#5C5665] leading-[28px] tracking-normal" id="font-dm-sans">Vulputate ultrices maecenas tempus vehicula nostra dapibus per proin vitae et porttitor primis, sollicitudin faucibus scelerisque.</p>
      </div>
      <div class="h-[334px] px-[35px] pb-[48px] pt-[40px] rounded-2xl flex flex-col items-center shadow-sm">
        <img src="https://cdn.shopify.com/s/files/1/0762/4880/9749/files/robust-scaling-icon.svg" class="h-[61px] w-[61px] mb-[21px]" />
        <h3 class="font-extrabold text-[32px] text-[#140626] mb-[10px] whitespace-nowrap leading-[42px]" id="font-jakarta">Robust Scaling</h3>
        <p class="text-[18px] text-center text-[#5C5665] leading-[28px] tracking-normal" id="font-dm-sans">Vulputate ultrices maecenas tempus vehicula nostra dapibus per proin vitae et porttitor primis, sollicitudin faucibus scelerisque.</p>
      </div>
      <div class="h-[334px] px-[35px] pb-[48px] pt-[40px] rounded-2xl flex flex-col items-center shadow-sm">
        <img src="https://cdn.shopify.com/s/files/1/0762/4880/9749/files/amazing-products-icon.svg" class="h-[61px] w-[61px] mb-[21px]" />
        <h3 class="font-extrabold text-[32px]  text-[#140626] mb-[10px] whitespace-nowrap leading-[42px]" id="font-jakarta">Amazing Products</h3>
        <p class="text-[18px] text-center text-[#5C5665] leading-[28px] tracking-normal" id="font-dm-sans">Vulputate ultrices maecenas tempus vehicula nostra dapibus, per proin vitae et porttitor primis sollicitudin faucibus scelerisque.</p>
      </div>
    </div>
  </div>
</section>

<section class="container max-w-[1440px] px-[150px] py-[45px] mt-[48px]">

  <div class="flex justify-center pl-[60px] pr-[90px] items-center gap-[72px] h-[591px] relative rounded-2xl">
    <div class="absolute w-full h-full top-0 left-0 -z-30 bg-[#ECE3FF] rounded-2xl">&nbsp;</div>
    <img
      src="https://cdn.shopify.com/s/files/1/0762/4880/9749/files/easily_vector.svg?v=1684939763"
      alt=""
      class="absolute bottom-0 left-[0px] -z-20">
    <img src="https://cdn.shopify.com/s/files/1/0762/4880/9749/files/easily_green.svg?v=1684940596" class="absolute bottom-[-48px] right-[-55px] -z-50">
    <img src="https://cdn.shopify.com/s/files/1/0762/4880/9749/files/easily_pink.svg?v=1684940588" class="absolute top-[-35px] left-[-25px]">
    <div class="bg-white w-[500px] h-[382px] relative rounded-2xl shadow-md">&nbsp;

      <div class="h-[110px] w-[202px] bg-white absolute top-[-158px] left-[142px] rounded-2xl shadow-md">&nbsp;</div>
      <div class="h-[167px] w-[230px] bg-white absolute bottom-[-70px] left-[-150px] rounded-2xl shadow-md">&nbsp;</div>
    </div>
    <div>
      <h2 class="font-extrabold text-[48px] text-[#140626] mb-[20px] tracking-normal whitespace-nowrap" id="font-jakarta">
        Easily add your<br> design to a wide<br> range of products
      </h2>
      <p class="text-[#5C5665] mb-[46px] tracking-tight" id="font-dm-sans">Odio dui dictumst tortor ridiculus a condimentum<br> auctor sed, varius etiam nostra molestie interdum<br> arcu neque, enim tellus ullamcorper at lacus.</p>
      <button class="font-bold text-white rounded-xl bg-gradient-to-br from-[#0289FF] to-[#0258FF] h-[64px] w-[222px] outline-none" id="font-jakarta">Start Selling</button>
    </div>
  </div>
</section>

<section class="container max-w-[1440px] pt-[66px] pb-[125px] px-[150px] flex flex-col justify-center relative">
  <img src="https://cdn.shopify.com/s/files/1/0762/4880/9749/files/how-it-works-blob-backgorund.svg?v=1684936403" class="absolute bottom-0 left-0 -z-30">

  <h2 class="text-[#140626] font-extrabold text-[48px] leading-[58px] text-center mb-[20px]" id="font-jakarta">How It Works</h2>
  <p class="text-center text-[#5C5665] mb-[60px] leading-[28px]" id="font-dm-sans">Mauris blandit nisi bibendum senectus fermentum tincidunt condimentum<br> porttitor, egestas ullamcorper suscipit et lacus fringilla in nisl leo, iaculis proin.</p>

  <div class="grid grid-cols-6 gap-[30px]">
    <div class="col-span-2 rounded-2xl bg-white">
      <div class="relative">
        <img src="https://cdn.shopify.com/s/files/1/0762/4880/9749/files/upload-your-design.jpg?v=1684936403" alt="">

        <div class="absolute bottom-[-45px] border-gray-300 border-2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 bg-gradient-to-br from-[#BF5FFF] to-[#5206FF] h-[45px] w-[45px] text-[#E2DEEB] text-[20px] font-extrabold rounded-full flex justify-center items-center">1</div>
      </div>

      <div class="px-[32px] pt-[48px] pb-[31px] shadow-md">
        <h3 class="text-center text-[32px] font-extrabold mb-[20px] whitespace-nowrap" id="font-jakarta">Upload Your<br> Design</h3>
        <p class="text-[#54545E] text-center tracking-normal shadow-sm" id="font-dm-sans">Vulputate ultrices maecenas tempus vehicula nostra dapibus per proin vitae et porttitor primis, sollicitudin faucibus scelerisque.</p>
      </div>
    </div>
    <div class="col-span-2 rounded-2xl bg-white">
      <div class="relative">
        <img src="https://cdn.shopify.com/s/files/1/0762/4880/9749/files/we-put-it-on-beautiful-mockups.jpg?v=1684936403" alt="">

        <div class="absolute bottom-[-45px] border-gray-300 border-2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 bg-gradient-to-br from-[#0289FF] to-[#0258FF] h-[45px] w-[45px] text-[#E2DEEB] text-[20px] font-extrabold rounded-full flex justify-center items-center">2</div>
      </div>

      <div class="px-[32px] pt-[48px] pb-[31px] shadow-md">
        <h3 class="text-center text-[32px] font-extrabold mb-[20px] whitespace-nowrap" id="font-jakarta">We Put it on<br> Beautiful Mockups</h3>
        <p class="text-[#54545E] text-center tracking-normal" id="font-dm-sans">Vulputate ultrices maecenas tempus vehicula nostra dapibus per proin vitae et porttitor primis, sollicitudin faucibus scelerisque.</p>
      </div>
    </div>

    <div class="col-span-2 rounded-2xl bg-white">
      <div class="relative">
        <img src="https://cdn.shopify.com/s/files/1/0762/4880/9749/files/list-the-products.jpg?v=1684936403" alt="">

        <div class="absolute bottom-[-45px] border-gray-300 border-2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 bg-gradient-to-br from-[#8B96FF] to-[#4353FF] h-[45px] w-[45px] text-[#E2DEEB] text-[20px] font-extrabold rounded-full flex justify-center items-center">3</div>
      </div>

      <div class="px-[32px] pt-[48px] pb-[31px] shadow-md">
        <h3 class="text-center text-[32px] font-extrabold mb-[20px] whitespace-nowrap" id="font-jakarta">List the Products<br> on Your Platform</h3>
        <p class="text-[#54545E] text-center tracking-normal" id="font-dm-sans">Vulputate ultrices maecenas tempus vehicula nostra dapibus per proin vitae et porttitor primis, sollicitudin faucibus scelerisque.</p>
      </div>
    </div>
  </div>
</section>

<section class="bg-[#140626] relative overflow-hidden">
  <div class="bg-[#3E3C70] h-[50vh] w-[40vw] rounded-t-full absolute bottom-0 right-0 filter blur-3xl">&nbsp;</div>
  <div class="container max-w-[1440px] px-[150px] pt-[120px] pb-[127px] flex flex-col justify-center gap-[60px] relative">
    <img src="https://cdn.shopify.com/s/files/1/0762/4880/9749/files/Integrate_Vector.svg?v=1684931776" class="absolute top-[61px] right-[50px]" />
    <h2 class="text-[#ECECFA] font-bold text-[48px] text-center relative leading-[58px]" id="font-jakarta">Integrate Your<br> E-commerce Platforms
      <img src="https://cdn.shopify.com/s/files/1/0762/4880/9749/files/Integrate_arrow.svg?v=1684932206" class="absolute top-[-100px] right-[-40px]">
    </h2>

    <div class="flex gap-[66px]">
      <div>
        <div class="h-[80px] w-[80px] rounded-full bg-white/5 flex justify-center items-center mb-[30px]">
          <img src="https://cdn.shopify.com/s/files/1/0762/4880/9749/files/Integrate_chain.svg?v=1684932877" alt="">
        </div>
        <h3 class="text-[#ECECFA] font-extrabold text-[32px] leading-[42px] mb-[17px]" id="font-jakarta">Connect Your Store</h3>
        <p class="text-[#E9E6EF] text-[18px] mb-[53px] font-normal" id="font-dm-sans">Odio dui dictumst tortor ridiculus a condimentum auctor sed, varius etiam nostra molestie interdum arcu neque, enim tellus ullamcorper at lacus.</p>
        <button class="font-bold text-white rounded-xl bg-gradient-to-br from-[#0289FF] to-[#0258FF] h-[64px] w-[222px] outline-none" id="font-jakarta">Connect It Now</button>
      </div>
      <img src="https://cdn.shopify.com/s/files/1/0762/4880/9749/files/Group_1000001633.svg?v=1684933450" class="max-w-[740.74] max-h-[433px] scale-110">
    </div>
  </div>
</section>

<section class="container px-0 max-w-[1140px] flex flex-col items-center mt-[100px]  bg-[url('https://cdn.shopify.com/s/files/1/0762/4880/9749/files/testimonial-background-blur.svg?v=1684928429')] bg-[center_top_9rem]">
  <h2 class="text-[48px] font-extrabold text-[#140626] mb-[20px]">Trusted By Customers in the World</h2>
  <p class="text-[#5C5665] text-[18px] mb-[62px]">Mauris blandit nisi bibendum senectus fermentum tincidunt condimentum.</p>
  <div class="flex justify-between gap-[80px] mb-[90px]">
    <div>
      <p class="text-center font-extrabold text-[48px] text-transparent mb-[10px] bg-gradient-to-b bg-clip-text from-[#8B96FF] to-[#8B96FF]">964 K</p>
      <p class="text-center text-[#140626] text-[24px] font-extrabold">Orders Fulfilled</p>
    </div>
    <div class="border-x-[1px] border-[#1406264D] px-[60px] border-opacity-30">
      <p class="text-center font-extrabold text-[48px] text-transparent mb-[10px] bg-gradient-to-b bg-clip-text from-[#8B96FF] to-[#8B96FF]">4,965</p>
      <p class="text-center text-[#140626] text-[24px] font-extrabold">Clients Served</p>
    </div>
    <div>
      <p class="text-center font-extrabold text-[48px] text-transparent mb-[10px] bg-gradient-to-b bg-clip-text from-[#8B96FF] to-[#8B96FF]">6,235</p>
      <p class="text-center text-[#140626] text-[24px] font-extrabold">Store Authorized</p>
    </div>
  </div>

  <div class="grid grid-cols-6 gap-[30px] w-full mb-[50px]">
    <div class="rounded-2xl bg-gradient-to-br from-[#E9DFFF] to-[#D2BEFF] p-[15px] col-span-2">
      <div class="bg-white p-[25px] rounded-2xl">
        <img src="https://cdn.shopify.com/s/files/1/0762/4880/9749/files/testimonial-quote.svg?v=1684928429" class="mb-[16px]">
        <p class="text-[18px] text-[#5C5665] tracking-normal mb-[32px]">Tincidunt nisl pellentesque augue integer tempor odio quis susse, per sociis himenaeos consequat id porttitor ultrices viverra nibh nostra semper felis facilisi habint semper purus tristique felis port vestibulum turpis netus egestas.</p>

        <div class="flex items-center gap-[19px]">
          <img src="https://cdn.shopify.com/s/files/1/0762/4880/9749/files/joel-sporer.png?v=1684928429">
          <div>
            <h5 class="font-extrabold text-[#140626]">Joel Sporer</h5>
            <p class="text-[16px] text-[#6C6575]">Owner of ABC Store</p>
          </div>
        </div>
      </div>
    </div>

    <div class="rounded-2xl bg-gradient-to-br from-[#79B9FF] to-[#ABD3FF] p-[15px] col-span-2">
      <div class="bg-white p-[25px] rounded-2xl">
        <img src="https://cdn.shopify.com/s/files/1/0762/4880/9749/files/testimonial-quote.svg?v=1684928429" class="mb-[16px]">
        <p class="text-[18px] text-[#5C5665] tracking-normal mb-[32px]">Tincidunt nisl pellentesque augue integer tempor odio quis susse, per sociis himenaeos consequat id porttitor ultrices viverra nibh nostra semper felis facilisi habint semper purus tristique felis port vestibulum turpis netus egestas.</p>

        <div class="flex items-center gap-[19px]">
          <img src="https://cdn.shopify.com/s/files/1/0762/4880/9749/files/elsa-sanford.png?v=1684928429">
          <div>
            <h5 class="font-extrabold text-[#140626]">Elsa Sanford</h5>
            <p class="text-[16px] text-[#6C6575]">Owner of ABC Store</p>
          </div>
        </div>
      </div>
    </div>

    <div class="rounded-2xl bg-gradient-to-br from-[#9FA8FF] to-[#C2C8FF] p-[15px] col-span-2">
      <div class="bg-white p-[25px] rounded-2xl">
        <img src="https://cdn.shopify.com/s/files/1/0762/4880/9749/files/testimonial-quote.svg?v=1684928429" class="mb-[16px]">
        <p class="text-[18px] text-[#5C5665] tracking-normal mb-[32px]">Tincidunt nisl pellentesque augue integer tempor odio quis susse, per sociis himenaeos consequat id porttitor ultrices viverra nibh nostra semper felis facilisi habint semper purus tristique felis port vestibulum turpis netus egestas.</p>

        <div class="flex items-center gap-[19px]">
          <img src="https://cdn.shopify.com/s/files/1/0762/4880/9749/files/lois-fell.png?v=1684928428">
          <div>
            <h5 class="font-extrabold text-[#140626]">Lols Fell</h5>
            <p class="text-[16px] text-[#6C6575]">Owner of ABC Store</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="flex gap-[10px]">
    <div class="cursor-pointer bg-[#140626] min-w-[50px] h-[4px]">&nbsp;</div>
    <div class="cursor-pointer bg-[#E0DBE6] min-w-[50px] h-[4px]">&nbsp;</div>
    <div class="cursor-pointer bg-[#E0DBE6] min-w-[50px] h-[4px]">&nbsp;</div>
  </div>
</section>

<section class="container max-w-[1440px] px-[150px] my-[130px] h-[647.81px] relative">
  <img src="https://cdn.shopify.com/s/files/1/0762/4880/9749/files/pricing-vector.svg?v=1684912700" class="absolute top-0 left-[400px] -z-20">
  <div class="grid grid-cols-2 place-items-center gap-[108px] pl-[90px] pr-[75px] w-full h-full relative">
    <div class="absolute w-full h-full top-0 left-0 rounded-3xl -z-30 bg-[#D9EBFF] text-[#D9EBFF]">.</div>
    <img src="https://cdn.shopify.com/s/files/1/0762/4880/9749/files/Price_Green.svg?v=1684918692" class="absolute top-[-68px] left-[-75px] -z-40">
    <img src="https://cdn.shopify.com/s/files/1/0762/4880/9749/files/Price_Pink.svg?v=1684918693" class="absolute bottom-[-20px] right-[-10px]">
    <div class="">
      <h2 class="text-[48px] font-extrabold tracking-[-.02em] text-[#140626] mb-[50px] max-w-[408px]">Emorve helps merchants make more money with less effort</h2>
      <div>
        <button class="font-bold text-[18px] text-white rounded-xl mb-[25px] bg-blue-500 h-[64px] w-[245px] outline-none">Get Started Now</button>

        <div class="flex gap-[21px]">
          <img src="https://cdn.shopify.com/s/files/1/0762/4880/9749/files/visa.svg" />
          <img src="https://cdn.shopify.com/s/files/1/0762/4880/9749/files/gpay.svg" />
          <img src="https://cdn.shopify.com/s/files/1/0762/4880/9749/files/mastercard.svg" />
          <img src="https://cdn.shopify.com/s/files/1/0762/4880/9749/files/applepay.svg" />
          <img src="https://cdn.shopify.com/s/files/1/0762/4880/9749/files/stripe.svg " />
          <img src="https://cdn.shopify.com/s/files/1/0762/4880/9749/files/paypal.svg" />
        </div>
      </div>
    </div>
    <div class="">
      <p class="text-[22px] font-bold text-[#5C5665] mb-[30px]">There would be a
        <span class="font-extrabold text-[48px] text-transparent bg-gradient-to-b bg-clip-text from-[#8B96FF] to-[#8B96FF]">$99</span>
        per month<br/> subscription, which will get them
      </p>

      <ul class="text-[#5C5665] flex flex-col gap-[15px]">
        <li>
          <div class="flex gap-[10px]">
            <img src="https://cdn.shopify.com/s/files/1/0762/4880/9749/files/check.svg?v=1684926391" class="h-[25px] w-[25px]">
            <p class="text-[18px]">350 credits per month</p>
          </div>
        </li>
        <li>
          <div class="flex gap-[10px]">
            <img src="https://cdn.shopify.com/s/files/1/0762/4880/9749/files/check.svg?v=1684926391" class="h-[25px] w-[25px]">
            <p class="text-[18px]">Credits can be used to create a print on demand product and get it listed on their ecommerce store of choice (1 credit for 1 listing)</p>
          </div>
        </li>
        <li>
          <div class="flex gap-[10px]">
            <img src="https://cdn.shopify.com/s/files/1/0762/4880/9749/files/check.svg?v=1684926391" class="h-[25px] w-[25px]">
            <p class="text-[18px]">Once an order is received, we will print and ship the product directly to the customer with their branding</p>
          </div>
        </li>
        <li>
          <div class="flex gap-[10px]">
            <img src="https://cdn.shopify.com/s/files/1/0762/4880/9749/files/check.svg?v=1684926391" class="h-[25px] w-[25px]">
            <p class="text-[18px]">Credits can be used to get title and tags re-written for the product with least views/sales (1 credit for 1 rewriting)</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>

<section class="h-[500px] bg-[#140626]">
  <div class="container relative px-0 max-w-[1440px] h-full overflow-y-hidden">
    <img src="https://cdn.shopify.com/s/files/1/0762/4880/9749/files/cta-blury-blob.svg?v=1684893057" class="absolute top-0">
    <img src="https://cdn.shopify.com/s/files/1/0762/4880/9749/files/cta-vector.svg?v=1684893056" class="absolute top-[-265px] w-[1869px] h-[1211px]" />
    <div class="flex flex-col justify-center h-full items-center">
      <div class="relative">
        <img src="https://cdn.shopify.com/s/files/1/0762/4880/9749/files/cta-arrow.svg?v=1684893056" class="absolute top-[-10px] left-[-195px] w-[218px] h-[214px]" />
        <h2 class="font-extrabold text-[48px] text-[#ECECFA] text-center">Start making more sales on <br/> your store now!</h2>
      </div>

      <div class="mt-[60px] flex gap-[20px] relative">
        <img src="https://cdn.shopify.com/s/files/1/0762/4880/9749/files/cta-decoration.svg?v=1684893056" class="absolute top-[-30px] right-[-60px]">
        <button class="font-bold text-white rounded-xl bg-blue-500 h-[64px] w-[222px] outline-none">Start for Free</button>
        <button class="font-bold text-white rounded-xl border-2 border-white h-[64px] w-[222px]">Contact Us</button>
      </div>
    </div>
  </div>
</section>

<section></section>


{% schema %}
  {
    "name": "Static Homepage",
    "tag": "section",
    "class": "section",
    "disabled_on": {
      "groups": ["header", "footer"]
    },
    "settings": [],
    "presets": [
      {
        "name": "Static Homepage"
      }
    ]
  }
{% endschema %}