<section class="container px-0 max-w-[1440px] bg-[center_top_170px] h-[860px] relative bg-[url('https://cdn.shopify.com/s/files/1/0762/4880/9749/files/Mesh-Grad.jpg')] bg-no-repeat">
  <div class="h-full w-full flex flex-col items-center">
    <div class="mt-20 mb-5 h-[368px] w-[795px] flex flex-col justify-center items-center z-10">
      <h1 class="text-[72px] font-extrabold text-[#140626] text-center leading-tight">Create and sell cuztomized products</h1>
      <span class="text-[#5C5665] text-center text-[22px]">Lorem ipsum dolor sit amet consectetur adipiscing elit sed, eu<br/> phasellus cum volutpat vehicula cursus feugiat parturient tempor.
      </span>
      <div class="mt-auto flex gap-[20px]">
        <button class="font-bold text-white rounded-xl bg-blue-500 h-[64px] w-[222px] outline-none">Start for Free</button>
        <button class="font-bold text-[#140626] rounded-xl border-2 border-[#140626] h-[64px] w-[222px]">How it Works</button>
      </div>
    </div>

    <div class="z-10 flex gap-16">
      <div class="w-[364px] h-[278.13px] rotate-[2.83deg] bg-white rounded-xl shadow-md">f</div>
      <div class="w-[596.35px] h-[456.35px] mt-32 rotate-[-2.95deg] bg-white rounded-xl shadow-2xl">f</div>
      <div class="w-[295.82px] h-[255px] rotate-[1.62deg] bg-white rounded-xl shadow-md">f</div>
    </div>
  </div>
</section>

<section class="container max-w-[1440px] mt-[252px] px-[153px]">
  <h4 class="font-bold text-[18px] text-[#140626] text-center mb-[33px]">We help business all around the world to grow</h4>
  <div class="flex justify-between items-center">
    <img src="https://cdn.shopify.com/s/files/1/0762/4880/9749/files/chase.svg" />
    <img src="https://cdn.shopify.com/s/files/1/0762/4880/9749/files/asana.svg" />
    <img src="https://cdn.shopify.com/s/files/1/0762/4880/9749/files/google.svg" />
    <img src="https://cdn.shopify.com/s/files/1/0762/4880/9749/files/buzzfeed.svg" />
    <img src="https://cdn.shopify.com/s/files/1/0762/4880/9749/files/toggle.svg" />
    <img src="https://cdn.shopify.com/s/files/1/0762/4880/9749/files/walmart.svg" />
  </div>
</section>

<section class="container max-w-[1440px] h-[632px] px-[150px] flex flex-col justify-end relative">
  <div class="flex justify-between items-center mb-[60px]">
    <h4 class="font-extrabold text-[#140626] text-[48px]">We make your<br/> brand shine</h4>
    <p class="text-[18px] text-[#5C5665]">Mauris blandit nisi bibendum senectus fermentum<br/> tincidunt condimentum porttitor, egestas ullamcorper<br/> suscipit et lacus fringilla in nisl leo, iaculis proin.</p>
  </div>

  <div class="flex gap-[30px]">
    <div class="h-[334px] px-[35px] pb-[48px] pt-[40px] rounded-lg shadow-md flex flex-col items-center">
      <img src="https://cdn.shopify.com/s/files/1/0762/4880/9749/files/higher-profits-icon.svg" class="h-[61px] w-[61px] mb-[21px]" />
      <h3 class="font-extrabold text-[32px] text-[#140626] mb-[10px]">Higher Profits</h3>
      <p class="text-[18px] text-center text-[#5C5665]">Vulputate ultrices maecenas tempus vehicula nostra dapibus per proin vitae et porttitor primis, sollicitudin faucibus scelerisque.</p>
    </div>
    <div class="h-[334px] px-[35px] pb-[48px] pt-[40px] rounded-lg shadow-md flex flex-col items-center">
      <img src="https://cdn.shopify.com/s/files/1/0762/4880/9749/files/robust-scaling-icon.svg" class="h-[61px] w-[61px] mb-[21px]" />
      <h3 class="font-extrabold text-[32px] text-[#140626] mb-[10px]">Robust Scaling</h3>
      <p class="text-[18px] text-center text-[#5C5665]">Vulputate ultrices maecenas tempus vehicula nostra dapibus per proin vitae et porttitor primis, sollicitudin faucibus scelerisque.</p>
    </div>
    <div class="h-[334px] px-[35px] pb-[48px] pt-[40px] rounded-lg shadow-md flex flex-col items-center">
      <img src="https://cdn.shopify.com/s/files/1/0762/4880/9749/files/amazing-products-icon.svg" class="h-[61px] w-[61px] mb-[21px]" />
      <h3 class="font-extrabold text-[32px] text-[#140626] mb-[10px]">Amazing Products</h3>
      <p class="text-[18px] text-center text-[#5C5665]">Vulputate ultrices maecenas tempus vehicula nostra dapibus, per proin vitae et porttitor primis sollicitudin faucibus scelerisque.</p>
    </div>
  </div>

  <img src="https://cdn.shopify.com/s/files/1/0762/4880/9749/files/perks-arrow.svg" class="absolute top-[175px] left-[10px] w-[193.34px] h-[102.18px]" />
  <img src="https://cdn.shopify.com/s/files/1/0762/4880/9749/files/blob.svg" class="absolute top-0 right-0" />
</section>

<section class="w-screen container h-[500px] bg-no-repeat bg-cover bg-center bg-[url('https://cdn.shopify.com/s/files/1/0762/4880/9749/files/cta-background.jpg?v=1684892579')]">
  <div class="container px-0 max-w-[1440px] h-[500px] relative overflow-hidden">
    <div class="flex flex-col justify-center h-full items-center">
      <h2 class="font-extrabold text-[48px] text-[#ECECFA] text-center">Start making more sales on <br/> your store now!</h2>

      <div class="mt-[60px] flex gap-[20px]">
        <button class="font-bold text-white rounded-xl bg-blue-500 h-[64px] w-[222px] outline-none">Start for Free</button>
        <button class="font-bold text-white rounded-xl border-2 border-white h-[64px] w-[222px]">Contact Us</button>
      </div>
    </div>
    <img src="https://cdn.shopify.com/s/files/1/0762/4880/9749/files/cta-arrow.svg?v=1684893056" class="absolute top-[100px] left-[221px]" />
    <div class="">
      <img src="https://cdn.shopify.com/s/files/1/0762/4880/9749/files/cta-vector.svg?v=1684893056" class="w-[1869px] h-[1211px]" />
    </div>
  </div>
</section>


{% schema %}
  {
    "name": "Static Homepage",
    "tag": "section",
    "class": "section",
    "disabled_on": {
      "groups": ["header", "footer"]
    },
    "settings": [],
    "presets": [
      {
        "name": "Static Homepage"
      }
    ]
  }
{% endschema %}