<section>
  insert code here
</section>
{% schema %}
  {
    "name": "Static Homepage",
    "tag": "section",
    "class": "section",
    "disabled_on": {
      "groups": ["header", "footer"]
    },
    "settings": [],
    "presets": [
      {
        "name": "Static Homepage"
      }
    ]
  }
{% endschema %}