<script>
  // Burger menus
  document.addEventListener("DOMContentLoaded", function () {
    // open
    const burger = document.getElementById("navbar-burger");
    const menu = document.getElementById("navbar-menu");

    burger.addEventListener("click", function () {
      menu.classList.toggle("hidden");
    });

    // close
    const close = document.getElementById("navbar-close");
    const backdrop = document.getElementById("navbar-backdrop");

    close.addEventListener("click", function () {
      menu.classList.toggle("hidden");
    });
  });
</script>

<section class="bg-gradient-to-l from-[#4353FF] to-[#8B96FF]">
  <div
    class="container flex h-[46px] items-center justify-center px-0 text-center text-[16px] font-medium text-white"
    id="font-dm-sans"
  >
    Lorem ipsum dolor sit amet consectetur adipiscing elit sed
  </div>
</section>

<nav class="h-[80px] border-b-[1px] border-[#111515] border-opacity-20 bg-white" id="font-jakarta">
  <div
    class="container mx-auto flex h-full max-w-[1440px] flex-wrap items-center min-[0px]:px-[32px] xl:px-[60px]"
  >
    <a href="#" class="mr-[70px] flex items-center">
      <img
        src="https://cdn.shopify.com/s/files/1/0762/4880/9749/files/Emorve.svg"
        class="h-[30px] w-[115px]"
      />
    </a>
    <ul class="items-center gap-[50px] font-medium min-[0px]:hidden xl:flex">
      <li>
        <div class="flex items-center gap-[10px]">
          Products
          <img
            src="https://cdn.shopify.com/s/files/1/0762/4880/9749/files/Vector.svg?v=1684909129"
          />
        </div>
      </li>
      <li>
        <div class="flex items-center gap-[10px]">
          Services
          <img
            src="https://cdn.shopify.com/s/files/1/0762/4880/9749/files/Vector.svg?v=1684909129"
          />
        </div>
      </li>
      <li>
        <a href="#">Pricing</a>
      </li>
      <li>
        <a href="#">Blog</a>
      </li>
      <li>
        <a href="#">About</a>
      </li>
    </ul>
    <div class="ml-auto items-center gap-[30px] min-[0px]:hidden xl:flex">
      <button class="text-[16px] font-bold text-[#18181B]">Login</button>
      <button
        class="h-[48px] w-[127px] rounded-xl bg-blue-500 text-[16px] font-bold text-white outline-none"
      >
        Sign Up
      </button>
    </div>

    <div
      class="ml-auto cursor-pointer space-y-2 min-[0px]:flex min-[0px]:flex-col xl:hidden"
      id="navbar-burger"
    >
      <div class="h-0.5 w-8 bg-gray-600">&nbsp;</div>
      <div class="h-0.5 w-8 bg-gray-600">&nbsp;</div>
      <div class="h-0.5 w-8 bg-gray-600">&nbsp;</div>
    </div>

    <div class="relative z-[100] hidden" id="navbar-menu">
      <div class="fixed inset-0 bg-gray-800 opacity-25"></div>
      <nav
        class="fixed bottom-0 right-0 top-0 flex w-full max-w-sm flex-col overflow-y-auto border-r bg-white px-6 py-6"
      >
        <div class="mb-8 flex items-center">
          <a href="#" class="mr-auto">
            <img
              src="https://cdn.shopify.com/s/files/1/0762/4880/9749/files/Emorve.svg"
              class="h-[30px] w-[115px]"
            />
          </a>
          <button id="navbar-close">
            <svg
              class="h-12 w-12 cursor-pointer text-gray-400 hover:text-gray-500"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M6 18L18 6M6 6l12 12"
              ></path>
            </svg>
          </button>
        </div>
        <div>
          <ul>
            <li class="mb-1">
              <a
                class="block rounded p-4 font-semibold text-gray-400 hover:bg-blue-50 hover:text-blue-600"
                href="#"
                >Home</a
              >
            </li>
            <li class="mb-1">
              <a
                class="block rounded p-4 font-semibold text-gray-400 hover:bg-blue-50 hover:text-blue-600"
                href="#"
                >About Us</a
              >
            </li>
            <li class="mb-1">
              <a
                class="block rounded p-4 font-semibold text-gray-400 hover:bg-blue-50 hover:text-blue-600"
                href="#"
                >Services</a
              >
            </li>
            <li class="mb-1">
              <a
                class="block rounded p-4 font-semibold text-gray-400 hover:bg-blue-50 hover:text-blue-600"
                href="#"
                >Pricing</a
              >
            </li>
            <li class="mb-1">
              <a
                class="block rounded p-4 font-semibold text-gray-400 hover:bg-blue-50 hover:text-blue-600"
                href="#"
                >Contact</a
              >
            </li>
          </ul>
        </div>
        <div class="mt-auto">
          <div class="py-2 pt-6">
            <button
              class="flex w-full items-center justify-center text-[16px] font-bold text-[#18181B]"
            >
              Login
            </button>
            <button
              class="flex h-[48px] w-full items-center justify-center rounded-xl bg-blue-500 text-[16px] font-bold text-white outline-none"
            >
              Sign Up
            </button>
          </div>
          <p class="my-4 text-center text-gray-400">
            <span>Copyright © 2021</span>
          </p>
        </div>
      </nav>
    </div>
  </div>
</nav>

{% schema %} { "name": "t:sections.header.name", "class": "section-header", "max_blocks": 3,
"settings": [ { "type": "select", "id": "logo_position", "options": [ { "value": "top-left",
"label": "t:sections.header.settings.logo_position.options__2.label" }, { "value": "top-center",
"label": "t:sections.header.settings.logo_position.options__3.label" }, { "value": "middle-left",
"label": "t:sections.header.settings.logo_position.options__1.label" }, { "value": "middle-center",
"label": "t:sections.header.settings.logo_position.options__4.label" } ], "default": "middle-left",
"label": "t:sections.header.settings.logo_position.label", "info":
"t:sections.header.settings.logo_help.content" }, { "type": "link_list", "id": "menu", "default":
"main-menu", "label": "t:sections.header.settings.menu.label" }, { "type": "select", "id":
"menu_type_desktop", "options": [ { "value": "dropdown", "label":
"t:sections.header.settings.menu_type_desktop.options__1.label" }, { "value": "mega", "label":
"t:sections.header.settings.menu_type_desktop.options__2.label" }, { "value": "drawer", "label":
"t:sections.header.settings.menu_type_desktop.options__3.label" } ], "default": "dropdown", "label":
"t:sections.header.settings.menu_type_desktop.label", "info":
"t:sections.header.settings.menu_type_desktop.info" }, { "type": "select", "id":
"sticky_header_type", "options": [ { "value": "none", "label":
"t:sections.header.settings.sticky_header_type.options__1.label" }, { "value": "on-scroll-up",
"label": "t:sections.header.settings.sticky_header_type.options__2.label" }, { "value": "always",
"label": "t:sections.header.settings.sticky_header_type.options__3.label" }, { "value":
"reduce-logo-size", "label": "t:sections.header.settings.sticky_header_type.options__4.label" } ],
"default": "on-scroll-up", "label": "t:sections.header.settings.sticky_header_type.label" }, {
"type": "checkbox", "id": "show_line_separator", "default": true, "label":
"t:sections.header.settings.show_line_separator.label" }, { "type": "select", "id": "color_scheme",
"options": [ { "value": "accent-1", "label": "t:sections.all.colors.accent_1.label" }, { "value":
"accent-2", "label": "t:sections.all.colors.accent_2.label" }, { "value": "background-1", "label":
"t:sections.all.colors.background_1.label" }, { "value": "background-2", "label":
"t:sections.all.colors.background_2.label" }, { "value": "inverse", "label":
"t:sections.all.colors.inverse.label" } ], "default": "background-1", "label":
"t:sections.all.colors.label" }, { "type": "header", "content":
"t:sections.header.settings.header__3.content", "info": "t:sections.header.settings.header__4.info"
}, { "type": "checkbox", "id": "enable_country_selector", "default": false, "label":
"t:sections.header.settings.enable_country_selector.label" }, { "type": "header", "content":
"t:sections.header.settings.header__5.content", "info": "t:sections.header.settings.header__6.info"
}, { "type": "checkbox", "id": "enable_language_selector", "default": false, "label":
"t:sections.header.settings.enable_language_selector.label" }, { "type": "header", "content":
"t:sections.header.settings.mobile_layout.content" }, { "type": "select", "id":
"mobile_logo_position", "options": [ { "value": "center", "label":
"t:sections.header.settings.mobile_logo_position.options__1.label" }, { "value": "left", "label":
"t:sections.header.settings.mobile_logo_position.options__2.label" } ], "default": "center",
"label": "t:sections.header.settings.mobile_logo_position.label" }, { "type": "header", "content":
"t:sections.all.spacing" }, { "type": "range", "id": "margin_bottom", "min": 0, "max": 100, "step":
4, "unit": "px", "label": "t:sections.header.settings.margin_bottom.label", "default": 0 }, {
"type": "header", "content": "t:sections.all.padding.section_padding_heading" }, { "type": "range",
"id": "padding_top", "min": 0, "max": 36, "step": 4, "unit": "px", "label":
"t:sections.all.padding.padding_top", "default": 20 }, { "type": "range", "id": "padding_bottom",
"min": 0, "max": 36, "step": 4, "unit": "px", "label": "t:sections.all.padding.padding_bottom",
"default": 20 } ], "blocks": [ { "type": "@app" } ] } {% endschema %}
